a:-webkit-any-link{
    color: inherit;
    text-decoration: inherit;
}

body{
    position: relative;

    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 4vw;
}

header button{
    font-family: "Londrina Solid", sans-serif;
    font-size: clamp(10px, 5vw, 35px);
    letter-spacing: 3px;
    font-weight: bolder;
    
    padding: .6rem 1.8rem;
    border: none;
    border-radius: 15px;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,.15), 0px 5px rgba(0,0,0,.25);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);

    transition: all .3s ease;
}

header button:hover{
    transform: scale(.9);
    box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,.2), 5px 5px rgba(0,0,0,.4);
}

header img{
    width: clamp(10px, 50vw, 350px);
    animation: img-anim 3s ease-in-out infinite backwards;
}

@keyframes img-anim {
    0%{
        transform: rotate(-7deg) scale(1.075);
    }

    50%{
        transform: rotate(7deg) scale(.975);
    }

    100%{
        transform: rotate(-7deg) scale(1.075);
    }

}

/*------   Form   ------*/
form{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 12.5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Londrina Shadow", sans-serif;

    width: 25vw;
    height: fit-content;
    gap: 2vh;

    border-radius: 25px;
    padding: 1rem 2rem;
    backdrop-filter: blur(2px);
}

form>label{
    display: flex;
    justify-content: center;

    font-size: clamp(40px, 4vw, 70px);
    text-align: center;

    -webkit-text-stroke: 1px black;
    letter-spacing: 5px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
}

.input-field{
    font-size: clamp(30px, 3vw, 40px);
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1vh;
    letter-spacing: 4px;
}

.input-field input{
    background: rgba(217,217,217,.5);
    border-radius: 50px;
    border: 3px solid black;

    height: 23px;
    margin-left: 10px;
    padding-left: 15px;

    font-weight: bold;
    font-size: clamp(20px, 1.5vw, 30px);
    letter-spacing: 1px;
}

form img {
    position: absolute;
    width: clamp(40px, 6.5vw, 95px);
    bottom: 2vh;
    right: 1.5vw;
}

/*------   Pipes   ------*/
#pipe1, #pipe2{
    position: absolute;
    z-index: -1;
    width: 15vh;
}

#pipe1{
    top: -25vh;
    right: 30vw;
}

#pipe2{
    bottom: -25vh;
    right: 30vw;
}

/*------   Erro   ------*/
.error-holder{
    opacity: 0;

    font-family: "Londrina Solid", sans-serif;
    font-weight: bold;
    letter-spacing: 4px;

    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
    height: fit-content;
    padding: 15px 75px;
    

    background-color: #E21717;
    border: 5px solid rgba(255,255,255,0.75);
    border-radius: 25px;

    box-shadow: 4px 6px 4px 0px rgba(0,0,0,.5);

    transition: opacity .3s ease;
}

.error-holder label{
    color: white;
    font-size: 1.5rem;
    text-shadow: 3px 4px 2px rgba(0,0,0,.25);
}

/*     PIP ANIMATION     */
#coin{
    position: absolute;
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
    left: 60vw;
    top: 47vh;
    z-index: -1;

    animation: coin-anim 10s ease backwards infinite
}

#pip{
    position: absolute;
    transform: scale(.4);
    left: -15vw;
    top: 45vh;
    z-index: -1;

    animation: pip-jump 10s ease-in-out backwards infinite, pip-move 10s linear backwards infinite;
}

@keyframes pip-move {
    0%{left: -15vw}
    100%{left: 100vw}
}

@keyframes coin-anim {
    0%{
        opacity: 1;
        
    }

    53%{
        opacity: 1;
        transform: scale(1.5) translateY(0px);
    }

    56%{
        opacity: 0;
        transform: scale(1.5) translateY(-25px) rotateY(180deg);
    }
}

@keyframes pip-jump {
    0% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    5% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    10% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    15% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    20% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    25% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    30% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    35% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    40% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    45% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    50% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    55% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    60% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    65% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    70% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    75% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    80% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    85% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    90% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }

    95% {
        top: 40vh;
        transform: scale(.4) rotate(-15deg);
    }

    100% {
        top: 45vh;
        transform: scale(.4) rotate(15deg);
    }
}



/*     MOBILE DEVICES     */

@media (max-width: 600px) {
    #pipe1, #pipe2{
        transform: scale(.5);
    }

    form{
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 75vw;
        margin: 0;
    }

    form img{
        width: clamp(75px, 6.5vw, 95px);
    }

}